{% embed "block/scaffholding/board.twig" with {'class': 'exception'} %}

    {% block board_title %}Es ist ein Fehler aufgetreten.{% endblock %}
    {% block board_body %}
        <h2 class="exceptionData-headline">
            Zuviele API Abrufe registriert
        </h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Bitte wiederholen sie den Vorgang später noch einmal.{% endtrans %}
        </p>
        <div class="form-actions">
            <a class="btn button-cancel right" href="#">Abbrechen</a>
        </div>
    {% endblock %}

{% endembed %}


