{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block htmlHead %}
    {{ parent() }}
    <link rel="stylesheet" media="all" type="text/css" href="{{ includeUrl() }}/_css/dataTables-1.13.6.min.css?&ts={{ getNow()|date("U") }}">
{% endblock %}

{% block headline %}
    {{ headline1("Anwendungsliste") }}
{% endblock %}

{% block content %}
    <div class="application-register-view" data-includeurl="{{ includeUrl() }}">
        {% include "block/list/appclients.twig" %}
    </div>
{% endblock %}