{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block htmlHead %}
    {{ parent() }}
    <link rel="stylesheet" media="all" type="text/css" href="{{ includeUrl() }}/_css/dataTables-1.13.6.min.css?&ts={{ getNow()|date("U") }}">
{% endblock %}

{% block headline %}
    {{ headline1("Anzeige Aufrufsystem") }}
{% endblock %}

{% block content %}
        {% include "block/calldisplay/config.twig" %}
{% endblock %}

{% block javascript %}
        <script type="text/javascript" src="{{ includeUrl() }}/_js/reactcomponents.js?ts={{ getNow()|date("U") }}"></script>
{% endblock %}
