{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}
{% from 'element/helper/form.twig' import custombutton %}

{% set headline =  headline1("Check-In-Schalter erstellt") %}

{% block headline %}
    {{ headline }}
{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="checkinconfig-created" data-includeurl="{{ includeUrl() }}">
    <div class="form--base fieldset">
    <div class="panel--heavy">

        <p>Die folgende URL (als Link nutzbar) können Sie für den nun konfigurierten Check-In-Schalter nutzen/kopieren.</p>
        <a target="_blank" href="{{ appUrl }}">{{ appUrl }}</a><br />

        <div class="form-actions">
            <div class="controls">
        {{ custombutton({ "type":"abort","class": "button button--navigational" ,"target": urlGet("checkIn", {}, {}), "label":"Zurück zu Übersicht"|trans }) }}

            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}