{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}
{% from 'element/helper/form.twig' import custombutton %}

{% set headline =  headline1("Check-In-Schalter") %}

{% block headline %}
    {{ headline }}
{% endblock %}

{% block content %}
    {{ parent() }}

<div class="checkinconfig-created" data-includeurl="{{ includeUrl() }}">
    <div class="form--base fieldset">
        <div class="panel--heavy">
            {% if collection|length == 0 %}
                <p>Es wurde noch kein Check-In-Schalter erstellt.</p>
                <div class="table-action-link">
                    {{ custombutton({ "type":"new","target": urlGet("checkInConfigAdd", {}, {}), "label":'<i class="fa fa-server color-positive" aria-hidden="true"></i> ' ~ 'neuer Check-In-Schalter'|trans}) }}
                </div>
            {% else %}
                {% include "block/checkin/config/list.twig" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}