{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% set view = "checkinconfig-view" %}
{% if edit %}
    {% set headline = headline1("Check-In-Schalter konfigurieren") %}
{% else %}
    {% set headline = headline1("Check-In-Schalter erstellen") %}
{% endif %}

{% block headline %}
    {{ headline }}
{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="{{ view }}" data-includeurl="{{ includeUrl() }}" data-entity="{{ entity }}">
        {% include "block/checkin/config/edit.twig" %}
    </div>
{% endblock %}