{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% set view = "maintenance-view edit" %}
{% if schedule.id %}
    {%  set headline =  headline1("Wartungstermin bearbeiten") %}
{% else %}
    {% set headline =  headline1("Wartungstermin hinzufügen") %}
{% endif %}

{% block headline %}
    {{ headline }}
{% endblock %}

{% block content %}
    <div class="{{ view }}" data-includeurl="{{ includeUrl() }}" data-reloadinterval="{{ reloadInterval }}" data-schedule="{{ schedule }}">
        {% include "block/maintenance/schedule/edit.twig" %}
    </div>
{% endblock %}