{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block headline %}
    {{ headline1("Vorgangarchiv Zusammenfassung") }}
{% endblock %}

{% block title %}Vorgangarchiv Zusammenfassung{% endblock %}

{% block content %}
    {% if process %}
        <p>
            {% trans %}Im Folgenden befindet sich die Zusammenfassung des Vorgangvorgangs mit der Archivierungsnummer{% endtrans %} {{ process.processArchiveId }}.
        </p>

        <table class="table--base">
            <tr>
                <th>{% trans %}Vorgangsdaten{% endtrans %}</th>
                <td>
                    <table class="table--clean compact">
                         <tr>
                            <th>
                                {% trans %}Vorgangsnummer{% endtrans %}
                            </th>
                            <td>
                                {{ process.id }}
                            </td>
                        </tr>
                        <tr>
                            <th width="30%">
                                {% trans %}Datum und Uhrzeit{% endtrans %}
                            </th>
                            <td>
                                {{ process.appointments.first.date|date('Y-m-d H:i:s') }}
                            </td>
                        </tr>
                        {% if process.queue.callTime %}
                        <tr>
                            <th>
                                {% trans %}Aufrufzeit{% endtrans %}
                            </th>
                            <td>
                                {{ process.queue.callTime|date('Y-m-d H:i:s') }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if process.queue.callCount %}
                        <tr>
                            <th>
                                {% trans %}Anzahl Aufrufe{% endtrans %}
                            </th>
                            <td>
                                {{ process.queue.callCount }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                {% trans %}Vorgangsnummer{% endtrans %}
                            </th>
                            <td>
                                {{ process.id }}
                            </td>
                        </tr>
                        {% if process.amendment %}
                        <tr>
                            <th>
                                {% trans %}Bemerkung{% endtrans %}
                            </th>
                            <td>
                                {{ process.amendment }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                {% trans %}Status{% endtrans %}
                            </th>
                            <td>
                                {% if process.status == "confirmed" %}
                                    {% trans %}Vorgang bestätigt und noch nicht aufgerufen{% endtrans %}
                                {% elseif process.status == "called" %}
                                    {% trans %}Vorgang wird gerade aufgerufen{% endtrans %}
                                {% elseif process.status == "processing" %}
                                    {% trans %}Vorgang wird gerade bearbeitet{% endtrans %}
                                {% elseif process.status == "reserved" %}
                                    {% set reservationDuration = process.scope.preferences.appointment.reservationDuration %}
                                    {% if reservationDuration and reservationDuration > 0 %}
                                        {% set reservationExpiredTime = process.createTimestamp|date_modify("+ " ~ reservationDuration ~ "mins") %}
                                        {% trans %}Reserviert, der Vorgang wird am{% endtrans %} {{ reservationExpiredTime|date("d.m.Y") }} {{ reservationExpiredTime|date("H:i") }} {% trans %}Uhr{% endtrans %} {% trans %}wieder freigegeben{% endtrans %}!
                                    {% else %}
                                        {% trans %}Reserviert, der Vorgang wird in wenigen Minuten wieder freigegeben!{% endtrans %}
                                    {% endif %}
                                {% elseif process.status == "pickup" %}
                                    {% trans %}Abholer wurde aufgerufen{% endtrans %}
                                {% elseif process.status == "missed" %}
                                    {% trans %}Vorgang verpasst. Der Vorgang wurde bereits aufgerufen, fragen Sie bitte vor Ort nach.{% endtrans %}
                                {% elseif process.status == "pending" %}
                                    {% trans %}Vorgang erfordert noch die Abholung von Dokumenten.{% endtrans %}
                                {% elseif process.status == "blocked" %}
                                    {% trans %}Vorgang ist bis Ende des Tages blockiert{% endtrans %}
                                {% elseif process.status == "archived" %}
                                    {% trans %}Vorgang ist archiviert{% endtrans %}
                                {% else %}
                                    {% trans %}Vorgang ist gelöscht{% endtrans %}
                                {% endif %}

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% if hasprocessaccess%}
            <tr>
                <th>{% trans %}Bürgerdaten{% endtrans %}</th>
                <td>
                    <table class="table--clean compact">
                        <tr>
                            <th width="30%">
                                {% trans %}Name{% endtrans %}
                            </th>
                            <td>
                                {{ process.clients.first.familyName }}
                            </td>
                        </tr>
                        {% if process.clients.first.email %}
                            <tr>
                                <th>
                                    {% trans %}E-Mail{% endtrans %}
                                </th>
                                <td>
                                    {{ process.clients.first.email }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if process.clients.first.telephone %}
                            <tr>
                                <th>
                                    {% trans %}Telefon{% endtrans %}
                                </th>
                                <td>
                                    {{ process.clients.first.telephone }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if process.clients.first.surveyAccepted %}
                            <tr>
                                <th>
                                    {% trans %}Zustimmung Kundenbefragung{% endtrans %}
                                </th>
                                <td>
                                    {{ process.clients.first.surveyAccepted }}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        {% endif %}
            <tr>
                <th>{% trans %}Dienstleistungen{% endtrans %}</th>
                <td>
                    {% for service in process.requests %}
                    <table class="table--clean compact">
                        <tr>
                            <th width="30%">
                                {% trans %}Name{% endtrans %}
                            </th>
                            <td>
                                {{ service.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}ID{% endtrans %}
                            </th>
                            <td>
                                {{ service.id }}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </td>
            </tr>
        {% if process.scope.id %}
            <tr>
                <th>{% trans %}Standortdaten{% endtrans %}</th>
                <td>
                    <table class="table--clean compact">
                        <tr>
                            <th  width="30%">
                                {% trans %}Name{% endtrans %}
                            </th>
                            <td>
                                {{ process.scope.contact.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Anschrift{% endtrans %}
                            </th>
                            <td>
                                {{ process.scope.contact.street }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endif %}
        </table>

        {% set isToday = process.appointments|first.date|date('Y-m-d') == getNow()|date('Y-m-d') %}
        {% set isEditable = process.appointments|first.date|date('U') >= getNow()|date_modify('midnight')|date('U') %}

        <div class="form-actions">
            {% if process and process.status == "confirmed" and source != 'counter' and isToday and hasprocessaccess %}
                <a class="button" title="{% trans %}Diesen Bürger aufrufen{% endtrans %}" href="{{ urlGet(source, {}, {'calledprocess': process.id}) }}">
                    {% trans %}Diesen Bürger aufrufen{% endtrans %}
                </a>
            {% endif %}

            {% if process and process.status not in ['blocked','reserved','deleted'] and isEditable and hasprocessaccess %}
                <a class="button" href="{{ urlGet(source, {}, {'selectedprocess': process.id}) }}" title="Diesen Bürger bearbeiten">
                    {% trans %}Diesen Bürger bearbeiten{% endtrans %}
                </a>
            {% endif %}
        </div>
    {% else %}
        <div class="message message-error">
            {% trans %}Für die angegebene Archivnummer wurde kein Eintrag gefunden{% endtrans %}.
        </div>
    {% endif %}
{% endblock %}
