{% extends "layout/main.twig" %}
{% block title %}Status Terminvereinbarung{% endblock %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block headline %}
    {{ headline1("Betriebsstatus des Systems") }}
{% endblock %}

{% block content %}
    <p>
        Im Folgenden findet sich ein Status der Terminvereinbarung, dem Sie entnehmen können, ob die Anwendung einwandfrei funktioniert:
    </p>
    <table class="status--table clean">
        <tr class="status-process-confirmed">
            <th>Anzahl der gebuchten Termine</th>
            <td>{{ status.processes.confirmed }}</td>
        </tr>
        <tr class="status-process-confirmed">
            <th>Anzahl der Abholer für Dokumente</th>
            <td>{{ status.processes.pending }}</td>
        </tr>
        <tr class="status-process-reserved">
            <th>Anzahl der reservierten Termine</th>
            <td>{{ status.processes.reserved }}</td>
        </tr>
        <tr class="status-process-deleted">
            <th>Anzahl der abgesagten Termine<br/><small>(Werden in wenigen Minuten freigegeben)</small></th>
            <td>{{ status.processes.deleted }}</td>
        </tr>
        <tr class="status-process-missed">
            <th>Anzahl der nicht wahrgenommenen Termine heute</th>
            <td>{{ status.processes.missed }}</td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Letzter Import Dienstleistungsdatenbank</th>
            <td class="">{{ status.sources.dldb.last }}<td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Letzte Berechnung Termine</th>
            <td class="">{{ status.processes.lastCalculate }} <td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Älteste Änderung einer noch nicht neu berechneten Öffnungszeit</th>
            <td class="">{{ status.processes.outdatedOldest }} <td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Anzahl neu zu berechnender Zeit-Slots</th>
            <td class="">{{ status.processes.outdated }} <td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Verfügbare freie Zeit-Slots insgesamt</th>
            <td class="">{{ status.processes.freeSlots }} <td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Alter noch nicht versendeter Mails</th>
            <td class="alert alert-{% if status.mail.oldestSeconds < 300 %}success{% else %}error{% endif %}">{{ status.mail.oldestSeconds|default(0) }}&nbsp;Sekunden<td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Alter noch nicht versendeter SMS</th>
            <td class="alert alert-{% if status.notification.oldestSeconds < 300 %}success{% else %}error{% endif %}">{{ status.notification.oldestSeconds|default(0) }}&nbsp;Sekunden<td>
        </tr>
        <tr class="status-database-nodeconnections">
            <th>Auslastung der Datenbankverbindungen</th>
            <td class="alert alert-{% if status.database.nodeConnections < 51 %}success{% else %}error{% endif %}">{{ status.database.nodeConnections }}%</td>
        </tr>
        <tr class="status-database-clusterstatus">
            <th>Status des Datenbank-Clusters</th>
            <td class="alert alert-{% if status.database.clusterStatus != 'OFF' %}success{% else %}error{% endif %}">{{ status.database.clusterStatus }}</td>
        </tr>
        <tr class="status-database-logbin">
            <th>Sekundengenaues Backup</th>
            <td class="alert alert-{% if status.database.logbin == 'ON' %}success{% else %}error{% endif %}">{{ status.database.logbin }}</td>
        </tr>
        <tr class="status-api-version">
            <th>API Version</th>
            <td>{{ status.version.major }}.{{ status.version.minor }}.{{ status.version.patch }}</td>
        </tr>
        <tr class="status-maintenance">
            <th>Wartungsmodus - aktuelle Ausführung</th>
            <td>{% if status.maintenance.active %}
                    {% set duration = status.maintenance.active.duration %}
                    {{ status.maintenance.active.startDateTime
                    }} bis {{ status.maintenance.active.startDateTime|date_modify('+' ~ duration ~ ' minutes')| date('Y-m-d H:i:s') }}
                {% else %}-
                {% endif %}
            </td>
        </tr>
        <tr class="status-maintenance">
            <th>Wartungsmodus - nächster Termin</th>
            <td>{% if status.maintenance.scheduled %}
                    {% set duration = status.maintenance.scheduled.duration %}
                    {{ status.maintenance.scheduled.startDateTime|date('Y-m-d H:i:s')
                    }} bis {{ status.maintenance.scheduled.startDateTime|date_modify('+' ~ duration ~ ' minutes')| date('Y-m-d H:i:s') }}
                {% else %}-
                {% endif %}
            </td>
        </tr>
        {% if workstation %}
        {% set rights = workstation.useraccount.rights %}
        {% set versionstring = 'v' ~ status.version.major ~ '.' ~  status.version.minor ~ '.' ~  status.version.patch %}
        {% if rights.superuser %}
        <tr>
            <th colspan="2">
                <h2>Automatische Tests</h2>
                <small>(Nur für Superuser sichtbar)</small>
            </th>
        </tr>
        {% for application in ['zmsapi', 'zmsentities', 'zmsdb', 'zmsclient', 'zmsadmin', 'zmsappointment', 'zmscalldisplay', 'zmsmessaging', 'zmssoap', 'zmsstatistic', 'zmsticketprinter', 'zmswebcalldisplay', 'zmsmanual'] %}
        <tr class="status-api-version">
            <th>{{application}} {{versionstring}}</th>
            <td><img src="https://gitlab.berlinonline.net/land-intranet/{{application}}/badges/{{versionstring}}/pipeline.svg" /></td>
        </tr>
    {% endfor %}
        {% endif %}
        {% endif %}
</table>
{% endblock %}
