{% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless application-register-list'} %}

    {% block board_title %}
        {% trans %}Aktive Anwendungen{% endtrans %}
    {% endblock %}

    {% block board_body %}
<p>
    {% trans %}
        Diese Liste enthält die Verbindungsdetails zu allen Unteranwendungen die an den Standorten ausgeführt werden, wie Aufrufanzeigen oder Wartenummernausgaben.
    {% endtrans %}
</p>
        {% set columns = ['edit', 'id', 'type', 'scopeId', 'daysActive', 'startDate', 'lastDate', 'userAgent', 'parameters', 'requestedChange'] %}
        {% include "block/list/appclients/table.twig" with columns %}
    {% endblock %}
{% endembed %}