<div data-form-buttons>
    <div class="form-actions appointment-form-buttons" style="margin-top:0; padding:0 0.7em;">
    {% if selectedProcess.status != 'deleted' and selectedProcess and not isNewAppointment and not changeToSpontaneous %}
        <div class="form-group buttons-row">
            <button data-id="{{ selectedProcess.id }}" class="button button--destructive button-submit process-delete" data-name="{{ selectedProcess.queue.withAppointment ? selectedProcess.clients|first.familyName|raw : ('Wartenummer ' ~ selectedProcess.queue.number) }}">Löschen</button>
            <button data-id="{{ selectedProcess.id }}" class="button button--diamond process-print" autofocus>{{ "%s"|format("Wartenr. drucken")|trans }}</button>
            <button data-id="{{ selectedProcess.id }}" class="button button-submit process-copy">{{ "%s"|format("Als neu hinzufügen")|trans }}</button>
            <button data-id="{{ selectedProcess.id }}" class="button button--positive process-save">{{ "%s"|format("Speichern")|trans }}</button>
        </div>
    {% elseif selectedProcess.status != 'deleted' %}
        <div class="form-group buttons-row">
            {% if not selectedProcess and "00-00" == selectedTime %}
                <button class="button button-submit process-queue" accesskey="h">{{ "Spontankunde hinzufügen"|trans }}</button>
            {% endif %}
            {% if selectedDate == getNow()|date('Y-m-d') and "00-00" == selectedTime and changeToSpontaneous %}
                <button data-id="{{ selectedProcess.id }}" class="button button--diamond process-queue" accesskey="h">{{ "zum Spontankunden ändern"|trans }}</button>
            {% endif %}
            {% if selectedProcess and "00-00" == selectedTime and isNewAppointment and not changeToSpontaneous %}
                <button data-id="{{ selectedProcess.id }}" class="button button-submit process-move">{{ "%s"|format("Verschieben")|trans }}</button>
            {% endif %}
            {% if selectedProcess and isNewAppointment and "00-00" != selectedTime %}
                <button data-id="{{ selectedProcess.id }}" class="button button-submit process-copy">{{ "%s"|format("Als neu hinzufügen")|trans }}</button>
                <button class="button button-submit process-change" accesskey="h">{{ "%s"|format("Termin ändern")|trans }}</button>
            {% endif %}
            {% if not selectedProcess and "00-00" != selectedTime and not initial %}
                <button class="button button-submit process-reserve" accesskey="h">{{ "%s"|format("Termin buchen")|trans }}</button>
            {% endif %}
        </div>
    {% endif %}
    </div>
</div>