{% embed "block/scaffholding/board.twig" with {'class': 'loginform loginform-view'} %}
        {% from 'element/helper/form.twig' import formgroup, custombutton, formbutton, inputfield %}

        {% block board_title %}
            {{ title }}
        {% endblock %}


        {% block board_body %}
            <form action="./" method="POST" class="form--base">
                <fieldset>
                    {{ formgroup(
                        {"label": "Nutzername:", "errors": exception.data.id.messages },
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "loginName",
                                "maxlength": "40",
                                "value": loginData.loginName.value,
                                "accesskey": "n",
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "Passwort:", "errors": exception.data.password.messages},
                        [{
                            "type":"input",
                            "parameter": {
                                "type": "password",
                                "name": "password",
                                "maxlength": "40",
                                "accesskey": "p",
                            }
                        }]
                    ) }}
                </fieldset>
                {{ inputfield({ "name":"login_form_validate", "type":"hidden", "value":"1" }) }}
                <div class="form-actions">
                    {{ formbutton({ "type":"login", "label":"Anmelden", "value": "Anmelden", "accesskey":"a"}) }}
                </div>
            </form>
        {% endblock %}


        {% block board_footer %}
            Wenden Sie sich bei vergessenen Passwörtern bitte an Ihren lokalen Anwendungssystembetreuer.
            {% if oidcProviderList|length %}
            <br /><br />
            {# oidc provider to login #}
            {{ ("Einloggen mit")|trans }}
            <div class="form-actions" style="display:flex; justify-content:center; margin-top:5px;">
            {% for providername in oidcProviderList %}
                <form action="./oidc/" method="POST" class="form--base">
                    {{ inputfield({ "name":"provider", "type":"hidden", "value":providername  }) }}
                    {{ formbutton({"label":providername, "value": providername, "class": "button button--diamond"}) }}
                </form>
            {% endfor %}
            </div>
            {% endif %}
        {% endblock %}

{% endembed %}
