{% embed "block/scaffholding/board.twig" with {'class': 'exception'} %}

    {% block board_title %}Es ist ein Fehler aufgetreten.{% endblock %}

    {% block board_body %}
        <h2 class="exceptionData-headline">
            {% if exception.data.queue.number < 10000 %}<dt>Die Wartenummer {% else %}<dt>Die Vorgangsnummer {% endif %}
            {{ exception.data.queue.number }} kann nicht bearbeitet werden
        </h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Diesem Arbeitsplatz ist es nicht erlaubt den Vorgang zu bearbeiten oder zu löschen. Entweder sind Sie nicht angemeldet oder der aufgerufene Vorgang gehört nicht zu diesem Standort.{% endtrans %}
        </p>
        {% if not exception.data.clusterEnabled %}
        <p>
            {% trans %}Sollte der Vorgang zu einem Standort Ihrer Standortgruppe gehören, können Sie diesen Vorgang einsehen, in dem Sie die Clusteransicht aktivieren.{% endtrans %}
        </p>
        {% endif %}
        <div class="form-actions">
            <a class="btn button-cancel right" data-callback="onCancelForm" href="{{ urlGet('workstationProcessCancel', {}, {}) }}">Ok</a>
        </div>
    {% endblock %}

{% endembed %}
