{%
    include "exception/bo/layout.twig" with {
		"message":"Zu den angegebenen Daten konnte keine Terminarchiv-Übersicht gefunden werden.",
		"title":"Der archivierte Termin wurde nicht gefunden",
        "exceptionData":"processarchive-not-found"
    }
%}


