{% embed "block/scaffholding/board.twig" with {'class': 'exception'} %}
    {% block board_body %}
        <h2>{% trans %}Vorgang wurde schon aufgerufen{% endtrans %}</h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Der Vorgang wird bereits von einem anderen Sachbearbeiter bearbeitet.{% endtrans %}

            <div>
                <button type="button" class="btn button button--diamond button--fullwidth client-precall_button-skip right" data-source="client-next" data-callback="onCallNextProcess" style="margin-bottom:0.5em;">Nächsten Vorgang aufrufen</button> 
                <button type="button" class="btn button button--destructive button--fullwidth client-precall_button-abort left" data-callback="onCancelForm" style="margin-bottom:0;">Abbruch</button>  
            </div>
         </p>
    {% endblock %}
{% endembed %}
