{%
    include "exception/bo/layout.twig" with {
        "title": "Vorgang liegt in der Vergangenheit",
		"message":"Der Terminvorgang konnte nicht bearbeitet werden, da dieser in der Vergangenheit liegt. Vergangene Termine lassen sich nicht mehr ändern oder absagen.",
        "skiptrace": 1,
        "abort": 1
    }
%}
