{% extends "exception/embeddedException.twig" %}

{% block content %}
{% embed "block/scaffholding/board.twig" with {'class': 'exception', 'data': {'exceptionData': 'request-notfound'}} %}
    {% block board_title %}Es ist ein Fehler aufgetreten.{% endblock %}

    {% block board_body %}
        <h2 class="exceptionData-headline">
            Invalide Eingabe
        </h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Die übertragenden Daten sind unvollständig. Bitte versuchen Sie es erneut.{% endtrans %}<br>
            ({% trans %}Es muss mindestens eine Dienstleistung und mindestens ein Dienstleister eingegeben werden.{% endtrans %})
        </p>
    {% endblock %}

{% endembed %}
{% endblock %}