{% from 'element/helper/form.twig' import formgroup, formbutton, checkboxfield, custombutton, inputfield %}

<form action="./" method="post" class="form--base">
    <div class="fieldset">
        <div class="panel--heavy">
            {% if entity.id %}
                <input type="hidden" name="id" value="{{ entity.id }}">
            {% endif %}

            {{ formgroup(
                {"label":"Zustand des Check-In-Schalters"},
                [{
                    "type":"radio",
                    "parameter": {
                        "label": "gesperrt",
                        "value": "off",
                        "name": "status",
                        "checked": entity.status == "off",
                        "inline": 1
                    }
                },
                {
                    "type":"radio",
                    "parameter": {
                        "label": "aktiv",
                        "value": "on",
                        "name": "status",
                        "checked": entity.status == "on",
                        "inline": 1
                    }
                }]
            ) }}

            {% set checkBoxes = [] %}
            {% for scope in scopes %}
                {% set selected = '0' %}
                {% if scope.id in entity.getScopeIds() %}
                    {% set selected = '1' %}
                {% endif %}
                {% set checkBox = {
                "type":"checkbox",
                    "parameter": {
                        "label": scope.name ~ ' ' ~ scope.shortName,
                        "description": "Im Tresen können Termine damit mehreren Zeitslots zugeordnet werden."|trans,
                        "name": "scopeIds[" ~ scope.id ~ "]",
                        "value": scope.id,
                        "checked": selected
                    }
                } %}
                {% set checkBoxes = checkBoxes|merge([checkBox]) %}
            {% endfor %}

            {{ formgroup(
                {
                    "groupTag": "fieldset",
                    "legend": "Markieren sie die Standorte denen der Check-In-Schalter dient",
                    "errors": exception.scopeIds.messages,
                },
                checkBoxes
            ) }}

            {{ formgroup(
                {
                    "label": "Zeitraum für zu früh Erscheinende",
                    "description": "Geben Sie an bis wie viele Minuten vor einem Termin der Hinweis für zu früh kommende angezeigt wird."|trans,
                    "errors": exception.data.tooEarlyMinutes.messages
                },
                [{
                    "type":"input",
                    "parameter": {
                        "id": "tooEarlyMinutes",
                        "name": "tooEarlyMinutes",
                        "value": entity.tooEarlyMinutes,
                        "maxlength": 3,
                        "width": 2
                    }
                }]
            ) }}


            {{ formgroup(
                {
                    "label": "Toleranz für zu spät Erscheinende",
                    "description": "Geben Sie an bis wie viele Minuten nach einem Terminbeginn der Hinweis für zu spät kommende noch nicht angezeigt wird."|trans,
                    "errors": exception.data.toleranceMinutes.messages
                },
                [{
                    "type":"input",
                    "parameter": {
                        "id": "toleranceMinutes",
                        "name": "toleranceMinutes",
                        "value": entity.toleranceMinutes,
                        "maxlength": 3,
                        "width": 2
                    }
                }]
            ) }}

            <br />
            <h2>Check-In-Information</h2>
            <p>In die folgenden Abschnitte sind die Informationstexte für die zu erwartenden Zustände während eines Check-Ins einzutragen.<br />
                Diese sind in die erforderlichen Fremdsprachen zu übersetzen. Ist für einen Standort eine Fremdsprache nicht erforderlich,<br />
                können alle Textfelder dieser Sprache freigelassen werden.
            </p>
            <br />
            <h2>{{ 'Hilfstext'|trans }}</h2>
            <p>{% trans %}Geben Sie hier einen Text für jede Sprache ein, der Informationen für Bürger enthält, die den Check-In-Schalter nicht nutzen können.<br />(z.B. mit Namen und Ort eines Ansprechpartners, des Empfangs o.Ä.){% endtrans %}</p>
            {% for languageCode in languages %}
                {{ formgroup(
                    {
                        "label": languageCode|language_name,
                        "errors": exception.data.msgAlternative.messages
                    },
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "msgAlternative[" ~ languageCode ~ "]",
                            "value": entity.getTranslations(languageCode).msgAlternative
                        }
                    }]
                ) }}
            {% endfor %}

            <br />
            <h2>{{ 'Bestätigung'|trans }}</h2>
            <p>{% trans %}Geben Sie hier einen Text für jede Sprache ein, der Informationen für Bürger enthält, die sich erfolgreich eingecheckt haben und den nächsten Schritt erfahren sollen.<br />(z.B. (Warte-)Zimmernummer bei mehreren Standorten oder bestimmte Sachbearbeiter je nach Familiennamen o.Ä.){% endtrans %}</p>
            {% for languageCode in languages %}
                {{ formgroup(
                    {
                        "label": languageCode|language_name,
                        "errors": exception.data.msgSuccess.messages
                    },
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "msgSuccess[" ~ languageCode ~ "]",
                            "value": entity.getTranslations(languageCode).msgSuccess
                        }
                    }]
                ) }}
            {% endfor %}

            <br />
            <h2>{{ 'Zu spät erscheinende Bürger'|trans }}</h2>
            <p>{% trans %}Geben Sie hier einen Text für jede Sprache ein, der Informationen für Bürger enthält, die sich zu spät einchecken, d.h. welche selbst mit Toleranz zu spät erscheinen.<br />(z.B. mit Namen und Ort eines Ansprechpartners, des Empfangs o.Ä.){% endtrans %}</p>
            {% for languageCode in languages %}
                {{ formgroup(
                    {
                        "label": languageCode|language_name,
                        "errors": exception.data.msgLate.messages
                    },
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "msgLate[" ~ languageCode ~ "]",
                            "value": entity.getTranslations(languageCode).msgLate
                        }
                    }]
                ) }}
            {% endfor %}

            <br />
            <h2>{{ 'Zu früh erscheinende Bürger'|trans }}</h2>
            <p>{% trans %}Geben Sie hier einen Text für jede Sprache ein, der Informationen für Bürger enthält, die zu früh (am richtigen Tag) erscheinen und sich einchecken.<br />(z.B. ob sie sich melden sollen o.Ä.){% endtrans %}</p>
            {% for languageCode in languages %}
                {{ formgroup(
                    {
                        "label": languageCode|language_name,
                        "errors": exception.data.msgEarly.messages
                    },
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "msgEarly[" ~ languageCode ~ "]",
                            "value": entity.getTranslations(languageCode).msgEarly
                        }
                    }]
                ) }}
            {% endfor %}

            <br />
            <h2>{{ 'Falscher Tag'|trans }}</h2>
            <p>{% trans %}Geben Sie hier einen Text für jede Sprache ein, der Informationen für Bürger enthält, die versuchen sich am falschen Tag einzuchecken.<br />(z.B. Verhaltensanweisung, je nachdem ob sie zu früh oder zu spät erscheinen){% endtrans %}</p>
            {% for languageCode in languages %}
                {{ formgroup(
                    {
                        "label": languageCode|language_name,
                        "errors": exception.data.msgWrongDay.messages
                    },
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "msgWrongDay[" ~ languageCode ~ "]",
                            "value": entity.getTranslations(languageCode).msgWrongDay
                        }
                    }]
                ) }}
            {% endfor %}

            <br />
            <h2>{{ 'Falscher Ort'|trans }}</h2>
            <p>{% trans %}Geben Sie hier einen Text für jede Sprache ein, der Informationen für Bürger enthält, die versuchen sich am falschen Standort einzuchecken.<br />(z.B. mit einem Hinweis auf den Standort und/oder Namen und Ort eines Ansprechpartners){% endtrans %}</p>
            {% for languageCode in languages %}
                {{ formgroup(
                    {
                        "label": languageCode|language_name,
                        "errors": exception.data.msgWrongCounter.messages
                    },
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "msgWrongCounter[" ~ languageCode ~ "]",
                            "value": entity.getTranslations(languageCode).msgWrongCounter
                        }
                    }]
                ) }}
            {% endfor %}

            <div class="form-actions">
                <div class="controls">
                    <a data-dialog="Möchten Sie die Erstellung wirklich abbrechen?" class="button button--navigational type-yes-no" href="{{ urlGet("checkIn", {}, {}) }}">{{ "Abbrechen"|trans }}</a>
                    {{ formbutton({ "type":"save", "class": "button button--positive", "name": "save", "label":"Speichern"|trans, "value": "save", "id": "submitButton" }) }}
                </div>
            </div>
        </div>
    </div>
</form>