{% from 'element/helper/form.twig' import custombutton %}

<div class="table-responsive-wrapper">
    <fieldset>
        <div class="table-action-link">
            {{ custombutton({ "type":"new","target": urlGet("checkInConfigAdd", {}, {}), "label":'<i class="fa fa-server color-positive" aria-hidden="true"></i> ' ~ 'neuer Check-In-Schalter'|trans}) }}
        </div>
        <table class="table--base">
            <thead>
            <tr>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'letzte Nutzung'|trans }}</th>
                <th>{{ 'Standort(e)'|trans }}</th>
                <th>{{ 'Sprachen'|trans }}</th>
                <th>{{ 'Aktion'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for config in collection %}
                {% set highlightClass = '' %}
                {% if config.status == 'on' and appDetails[config.id]['dateDelta'] < 86400 %}
                    {% set highlightClass = 'ins'%}
                {% endif %}
                {% if config.status == 'on' and appDetails[config.id]['lastDate'] and appDetails[config.id]['dateDelta'] > 260000 %}
                    {% set highlightClass = 'del'%}
                {% endif %}
                {% if not appDetails[config.id]['lastDate'] and appDetails[config.id]['dateDelta'] > 1201000 %}
                    {% set highlightClass = 'del'%}
                {% endif %}

                {% set languages = config.languages|split(',') %}

                <tr class="{{ highlightClass }}">
                    <td>{{ config.status|capitalize }}</td>
                    <td>{{ appDetails[config.id]['lastDate'] }}</td>
                    <td>
                        {% for scopeId in config.getScopeIds() %}
                            {% if not loop.first %}
                                <br />
                            {% endif %}
                            {% set scope = scopes.getEntity(scopeId) %}
                            <span>{{ scope.name ~ ' ' ~ scope.shortName }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for languageCode in languages %}
                            {% if not loop.first %}
                                <br />
                            {% endif %}
                            <span>{{ languageCode|language_name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ custombutton({ "type":"edit", "class":"link" ,"target": urlGet('checkInConfigEdit', {'id':config.id}, {}), "label":'<i class="fa fa-pencil-alt" aria-hidden="true"></i> ' ~ 'bearbeiten'|trans }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="table-action-link">
            {{ custombutton({ "type":"new","target": urlGet("checkInConfigAdd", {}, {}), "label":'<i class="fa fa-server color-positive" aria-hidden="true"></i> neuer Check-In-Schalter'|trans}) }}
        </div>
    </fieldset>
</div>