{% extends "exception/bo/layout.twig" %}
{% block content %}
	{% embed "block/scaffholding/board.twig" with {
		'class': 'exception'
	} %}
		{% block board_body %}
			{% set message = "Ein Kunde befindet sich noch in Bearbeitung bzw. im Aufruf."|trans %}
			<h3>
				{{ "Sie haben noch einen Kunden aufgerufen."|trans }}
			</h3>
			<p>
				<i aria-hidden="true" title="{% trans %}Fehler{% endtrans %}: {{ message|trans }}" class="fas fa-exclamation-circle"></i>
				{% trans %}Fehler{% endtrans %}: {{ message|trans }}
				<br>
				<i>{{ 'Sie wurden nicht vom System abgemeldet.'|trans }}</i>
			</p>
			<div class="form-actions" style="margin-top:0;">
				<a class="btn" href="{{ urlGet('workstation') }}">{{ 'OK'|trans }}</a>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}

