{% block calendar_page_legend %}
<section aria-hidden="true">
    <h3 class="block__heading">{{ ("Legende")|trans }}</h3>
    <div class="block calendar-legend panel--light" style="padding: 1em 1em 0.5em;">
        <div class="grid" style="font-size:0.9em;">
        {% for key, typeList in legendtypes %}
            <div class="grid__item one-half">
                <ul class="list--clean" style="margin:0px;">
                {% for type, label in typeList %}
                    <li><span class="day {{ key }} {{ type }}">1</span> {{ label|trans }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>  
    </div>
</section>
{% endblock %}

{% block calendar_month_legend %}
{% from 'element/helper/snippets.twig' import openingCalendarIcon %}
    <section aria-hidden="true">
    <h2 class="block__heading">{{ ("Legende")|trans }}</h2>
    <div class="block calendar-legend">
        {% for key, typeList in legendtypes %}
        <ul class="list--clean">
            {% for type, label in typeList %}
                <li><span class="day {{ key }} {{ type }}">1</span> {{ label|trans }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        <ul class="list--clean">
            <li style="line-height:1.75em">{{ openingCalendarIcon('K','red', 1, 'Konflikt') }} Konflikt</li>
            <li style="line-height:1.75em">{{ openingCalendarIcon('S','green', 1, 'Offen für Spontankunden') }} Offen für Spontankunden</li>
            <li style="line-height:1.75em">{{ openingCalendarIcon('T','blue', 1, 'Offen für Terminkunden') }} Offen für Terminkunden</li>
        </ul>
        <ul class="list--clean">
            <li style="line-height:1.75em"><i class="fas fa-globe"></i> Buchbar per Internet</li>
            <li style="line-height:1.75em"><i class="fas fa-phone"></i> Buchbar per Callcenter</li>
        </ul>
    </div>
</section>
{% endblock %}
