<div class="table-responsive-wrapper">
    <table class="table--base application-register-table">
        <thead>
        <tr>
            {% for column in columns %}
                <th><div style="position:relative;"><span class="label">{%
                    if column == 'edit' %}&nbsp;{% endif %}{%
                    if column == 'id' %}{{ 'ID' }}{% endif %}{%
                    if column == 'type' %}{{ 'Typ'|trans }}{% endif %}{%
                    if column == 'scopeId' %}{{ 'Standort'|trans }}{% endif %}{%
                    if column == 'daysActive' %}{{ 'Anzahl-Tage'|trans }}{% endif %}{%
                    if column == 'startDate' %}{{ 'Start'|trans }}{% endif %}{%
                    if column == 'lastDate' %}{{ 'Datum-Letzter-Aufruf'|trans }}{% endif %}{%
                    if column == 'userAgent' %}{{ 'User-Agent'|trans }}{% endif %}{%
                    if column == 'parameters' %}{{ 'Parameter'|trans }}{% endif %}{%
                    if column == 'requestedChange' %}{{ 'Änderungen'|trans }}{% endif %}</span>
                </div></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set translated = {'parameters': 'Parameter'} %}
        {% for application in applicationlist %}
            <tr class="{{ highlightClass }}">
                {% for column in columns %}
                    {% set editLocation = '' %}
                    {% if application.type == 'calldisplay' %}
                        {% set editLocation = urlGet('calldisplayEdit', {"id": application.id}) ~ "?origin=" ~ origin %}
                    {% endif %}
                    {% if application.type == 'ticketprinter' %}
                        {% set editLocation = urlGet('ticketprinterEdit', {"id": application.id}) ~ "?origin=" ~ origin %}
                    {% endif %}
                <td>{%
                    if column == 'edit' and editLocation %}<a
                        aria-label="Link zum Bearbeiten des {{ application.type }} des Standorts {{ scopeNames[application.scopeId] }} mit der ID {{ application.id }}"
                        style="font-size:150%;cursor:pointer;"
                        href="{{ editLocation }}"
                            >&#9998;</a>{% endif %}{%
                    if column == 'id' %}{{ application.id }}{% endif %}{%
                    if column == 'type' %}{{ application.type }}{% endif %}{%
                    if column == 'scopeId' %}{{ application.scopeId }} - {{ scopeNames[application.scopeId] }}{% endif %}{%
                    if column == 'daysActive' %}{{ application.daysActive }}{% endif %}{%
                    if column == 'startDate' %}{{ application.startDate|date('Y-m-d H:i:s') }}{% endif %}{%
                    if column == 'lastDate' %}{{ application.lastDate|date('Y-m-d') }}{% endif %}{%
                    if column == 'userAgent' %}{{ application.userAgent }}{% endif %}{%
                    if column == 'parameters' %}{{ application.parameters }}{% endif %}{%
                    if column == 'requestedChange' %}{% for key, value in application.requestedChange %}{{ translated[key] }} => {{ value }}{% if not loop.last %}<br>{% endif %}{% endfor %}{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
