<div class="list-ticketprinter">
    {% set columns = ['edit', 'id', 'scopeId', 'daysActive', 'lastDate', 'userAgent', 'parameters', 'requestedChange'] %}
    {% include "block/list/appclients/table.twig" with columns %}
</div>