{% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless searchresults'} %}

        {% block board_title %}
            {% trans %}Suchergebnisse für {% endtrans %} "{{ searchQuery }}"
        {% endblock %}

        {% block board_body %}
        <div class="table-responsive-wrapper"> 
            <table class="table--base" data-processList-count="{{ processList.count() }}"  data-processListOther-count="{{ processListOther.count() }}">
                <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %} <span style="white-space: nowrap;">(VorgangNr.)</span></th>
                        <th>{% trans %}Wartenummer{% endtrans %}</th>
                        <th>{% trans %}Datum{% endtrans %}</th>
                        <th>{% trans %}Ort{% endtrans %}</th>
                        <th>{% trans %}Absagecode{% endtrans %}</th>
                        <th>{% trans %}Telefon{% endtrans %}</th>
                        <th>{% trans %}E-Mail{% endtrans %}</th>
                        <th>{% trans %}Anmerkung{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for process in processList %}
                    <tr>
                        <td>
                            {% if process.status == "pickup" or process.status == "pending" %}
                                <a href="{{ urlGet("pickup", {}, {'selectedscope': process.scope.id}) }}">
                                    {{process.clients.0.familyName}} ({{process.id}})
                                </a>
                            {% else %}
                                {% if process.scope.id %}
                                <a href="{{ urlGet("counter", {}, {'selectedprocess': process.id, 'date': process.appointments.0.date|date('Y-m-d'), 'selectedscope': process.scope.id }) }}">
                                    {{process.clients.0.familyName}} ({{process.id}})
                                </a>
                                {% else %}
                                    {{process.clients.0.familyName}} ({{process.id}})
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{process.queue.number}}</td>
                        <td>{{process.appointments.0.date|date('d.m.Y, H:i')}}&nbsp;Uhr</td>
                        <td>{{process.scope.contact.name}} {{process.scope.shortName}}</td>
                        <td>{{process.authKey}}</td>
                        <td>{{process.clients.0.telephone}}</td>
                        <td>{{process.clients.0.email}}</td>
                        <td>{{process.amendment}}</td>
                    </tr>
                {% endfor %}
                {% for process in processListOther %}
                    <tr>
                        <td>
                                {{process.clients.0.familyName}} ({{process.id}})
                        </td>
                        <td>{{process.appointments.0.date|date('d.m.Y, H:i')}}&nbsp;Uhr</td>
                        <td>{{process.scope.contact.name}} {{process.scope.shortName}}</td>
                        <td colspan="4">
                            <small>
                                {% trans %}nicht im aktuellen Standort{% endtrans %} {% if isClustered %}- {% trans %}aktivieren Sie gebenfalls die Clusteransicht{% endtrans %}{% endif %}
                            </small>
                        </td>
                        {% if isClustered %}
                            <td>
                                <form method="POST" action="{{ includeUrl() }}/workstation/select/">
                                    <input type="hidden" name="scope" value="cluster"/>
                                    <input type="hidden" name="redirect" value="search"/>
                                    <input type="hidden" name="redirectQuery" value="{{ searchQuery }}"/>
                                    <input type="submit" class="button button--submit" name="submit" value="Clusteransicht aktivieren" style="margin:0;"></input>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if processList.count() == 0 and processListOther.count() == 0 %}
                    <tr>
                        <td colspan="7">{% trans %}Keine Ergebnisse gefunden{% endtrans %}</td>
                    </tr>
                {% endif %}
                {% if logList.count() %}
                    <tr>
                        <th colspan="7">{% trans %}Log-Ergebnisse{% endtrans %} ({% trans %}nur Superuser{% endtrans %}):</th>
                    </tr>
                {% for log in logList %}
                    <tr>
                        <td>{{ log.reference }}</td>
                        <td>{{log.ts|date('d.m.Y, H:i:s')}}&nbsp;Uhr</td>
                        <td colspan="7">{{ log.message }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        {% endblock %}


{% endembed %}
