{% if success or error %}
    {% include "element/helper/messageHandler.twig" %}
{% else %}
    {% if dialog %}
    <div class="board dialog">
    {% endif %}
    {% embed "block/scaffholding/board.twig" with {'class': 'notification-form'} %}
        {% from 'element/helper/form.twig' import formgroup, formbutton, inputfield, checkboxfield %}

        {% block board_title %}
            {{ title|trans }}
        {% endblock %}

        {% block board_body %}
            <form method="post" name="mail" action="{{ urlGet('mailCancelAll') }}">
                {{ formgroup(
                    {"label": "Betreff der E-Mail:", "errors": form.subject.messages},
                    [{
                        "type":"input",
                        "parameter": {
                            "name": "subject",
                            "required": true,
                            "value": form.subject.value|default(defaultSubject)
                        }
                    }]
                ) }}
                {{ formgroup(
                    {"label": "Text der E-Mail (300 Zeichen):", "errors": form.message.messages},
                    [{
                        "type":"textarea",
                        "parameter": {
                            "name": "message",
                            "rows": "6",
                            "maxlength": 300,
                            "value": form.message.value|default(defaultMessage)
                        }


                    }]
                ) }}

                {% set labelConfirmAvailabilities = "Alle Öffnungszeiten-Arbeitsplätze wurden auf 0 gesetzt" %}
                {{ formgroup(
                    {
                        "id": "availabilityAcceptedCheckbox",
                        "labelClass": "form-check-label",
                        "errors": form.availabilities_accepted.messages
                    },
                    [{
                        "type":"checkbox",
                        "parameter": {
                            "label": labelConfirmAvailabilities|trans,
                            "name": "availabilities_accepted",
                            "value": 1
                        }


                    }]
                ) }}

                {% set labelConfirmCancel = "Ich habe verstanden, dass alle Vorgänge des Tages abgesagt werden" %}
                {{ formgroup(
                    {
                        "id": "cancelAcceptedCheckbox",
                        "labelClass": "form-check-label",
                        "errors": form.cancel_accepted.messages
                    },
                    [{
                        "type":"checkbox",
                        "parameter": {
                            "label": labelConfirmCancel|trans,
                            "name": "cancel_accepted",
                            "value": 1
                        }


                    }]
                ) }}

                {{ inputfield({ "name": "date", "type":"hidden", "value":dateString }) }}
                {{ inputfield({ "name": "scope", "type":"hidden", "value":scopeId }) }}
                {{ inputfield({ "name": "dialog", "type":"hidden", "value":1 }) }}

                <div class="form-actions">
                    <div class="right">
                        <button type="button" class="button button--diamond button-abort">{{ "Abbrechen"|trans }}</button>
                        <button type="submit" class="button button--default button-submit" id="button-submit" disabled>{{ "Alle Termine absagen"|trans }}</button>
                    </div>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
    {% if dialog %}
    </div>
    {% endif %}
{% endif %}
