{% if success or error %}
    {% include "element/helper/messageHandler.twig" %}
{% else %}
    {% if dialog %}
    <div class="board dialog">
    {% endif %}
    {% embed "block/scaffholding/board.twig" with {'class': 'notification-form'} %}
        {% from 'element/helper/form.twig' import formgroup, formbutton, inputfield, checkboxfield %}

        {% block board_title %}
            {{ title|trans }}
        {% endblock %}

        {% block board_body %}
            <form method="post" name="mail" action="{{ urlGet('mail') }}">
                {% if not process.clients|first.email %}
                    <div class="message-error">
                        Für einen E-Mail Versand muss eine gültige E-Mail-Adresse eingetragen sein. <br />
                        Es steht entweder keine E-Mail-Adresse zur Verfügung oder die Vorgangsnummer ist nicht korrekt angegeben!
                    </div>
                {% else %}
                    {% set defaultSubject = "Info zu Ihrer Wartenummer"|format(process.queue.number, process.appointments|first.date|date("d.m.Y")) %}
                    {% set defaultMessage = "%s %d"|format("Es folgt eine Information zu Ihrer Wartenummer", process.queue.number) %}
                    {% if process.queue.withAppointment %}
                        {% set defaultSubject = "Info Bürger-Termin" %}
                        {% set defaultMessage = "%s %d am %s um %s Uhr"|format("Es folgt eine Information zu Ihrem Termin mit der Vorgangsnummer", process.queue.number, process.appointments|first.date|date('d.m.Y'), process.appointments|first.date|date('H:i')) %}
                    {% endif %}
                    {{ formgroup(
                        {"label": "Betreff der E-Mail:", "errors": form.subject.messages},
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "subject",
                                "required": true,
                                "value": form.subject.value|default(defaultSubject)
                            }
                        }]
                    ) }}
                    {{ formgroup(
                        {"label": "Text der E-Mail (300 Zeichen):", "errors": form.message.messages},
                        [{
                            "type":"textarea",
                            "parameter": {
                                "name": "message",
                                "rows": "6",
                                "maxlength": 300,
                                "value": form.message.value|default(defaultMessage)
                            }

                            
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "E-Mail des Empfängers:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "maxlength": 30,
                                "readonly": 1,
                                "value": process.clients|first.email
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "Name des Empfängers:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "maxlength": "20",
                                "readonly": 1,
                                "value": process.clients|first.familyName
                            }
                        }]
                    ) }}

                    {% set appointmentTime = "spontan" %}
                    {% if process.queue.withAppointment %}
                        {% set appointmentTime = process.appointments|first.date|date("H:i") %}
                    {% endif %}
                    {{ formgroup(
                        {"label": "Terminzeit:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "maxlength": "20",
                                "readonly": 1,
                                "value": appointmentTime
                            }
                        }]
                    ) }}

                    {% set labelConfirm = "Ich habe verstanden, dass der Standort-Admin eine Kopie der Nachricht erhält" %}
                    {{ checkboxfield(
                        {
                            "label": labelConfirm|trans,
                            "name": "admin_accepted",
                            "value": 1
                        },
                        "adminAcceptedCheckbox"
                    ) }}

                    {{ inputfield({ "name": "selectedprocess", "type":"hidden", "value":process.id }) }}
                    {{ inputfield({ "name": "dialog", "type":"hidden", "value":1 }) }}

                    <div class="form-actions">                  
                        <div class="right">
                            <button type="button" class="button button--diamond button-abort">{{ "Abbrechen"|trans }}</button>
                            <button type="submit" class="button button--default button-submit" id="button-submit" disabled>{{ "Senden"|trans }}</button>
                        </div>
                    </div>
                {% endif %}
            </form>
        {% endblock %}
    {% endembed %}
    {% if dialog %}
    </div>
    {% endif %}
{% endif %}
