{% from 'element/helper/form.twig' import formgroup, formbutton, custombutton, inputfield %}

<form action="./" method="post" class="form--base">
    <div class="fieldset">
        <div class="panel--heavy">
            {% if schedule.id %}
                <input type="hidden" name="id" value="{{ schedule.id }}">
            {% endif %}
            {% set isActive = schedule.isActive %}
            {% set maintenance = preview %}
            {% set perStart = 'Die periodische Startzeit muss in der Crontab Syntax (m h * * *) angegeben werden.' %}
            {% set onceStart = 'Es muss ein valides Startdatum (JJJJ-MM-TT HH:mm) angegeben werden.' %}
            {% set onceEnd = 'Es muss ein valides Enddatum (JJJJ-MM-TT HH:mm) angegeben werden.' %}

            {{ formgroup(
                {
                    "description": metadata.isRepetitive.description,
                },
                [{
                    "type":"checkbox",
                    "parameter": {
                        "id": "scheduleRepetition",
                        "label": "periodische Wiederholung",
                        "name": "isRepetitive",
                        "value": 1,
                        "checked": schedule.isRepetitive,
                        "disabled": isActive
                    }
                }]
            ) }}

            <div id="group_repetitiveTime">
                {{ formgroup(
                    {
                        "label": "Startzeit:",
                        "description": perStart|trans,
                        "required": true,
                        "errors": exception.data.timeString.messages
                    },
                    [{
                        "type":"input",
                        "parameter": {
                            "id": "repetitiveTime",
                            "name": "timeString",
                            "value": schedule.timeString,
                            "maxlength": 40,
                            "readonly": isActive,
                            "placeholder": "m h * * *"
                        }
                    }]
                ) }}

                {% set values = [10, 20, 30, 45, 60, 90, 120, 180, 360, 720] %}
                {% set options = [] %}
                {% for value in values %}
                    {% set selected = '' %}
                    {% if schedule.duration == value %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    {% set options = options|merge([{"value": value, "name": value, "selected": selected}]) %}
                {% endfor %}
                {{ formgroup(
                    {
                        "label": "Dauer in Minuten:",
                        "description": metadata.duration.description,
                    },
                    [{
                        "type":"select",
                        "parameter": {
                            "id": "selectedDuration",
                            "multiple": false,
                            "options": options,
                            "disabled": isActive
                        }
                    }]
                ) }}
            </div>
            <div id="group_singleTime">
                <div class="grid">
                    <div class="one-half">
                        <label for="singleTimeStart">Startzeit:*</label>
                        {{ formgroup(
                            {
                                "description": onceStart|trans,
                                "required": true,
                                "errors": exception.data.startDateTime.messages
                            },
                            [{
                                "type":"datepicker",
                                "parameter": {
                                    "id": "singleTimeStart",
                                    "name": "timeString",
                                    "value": "",
                                    "maxlength": 50,
                                    "readonly": isActive
                                }
                            }]
                        ) }}
                    </div>
                    <div class="one-half">
                        <label for="singleTimeEnd">Endzeit:*</label>
                        {{ formgroup(
                            {
                                "description": onceEnd|trans,
                                "required": true,
                                "errors": exception.data.endDateTime.messages
                            },
                            [{
                                "type":"datepicker",
                                "parameter": {
                                    "id": "singleTimeEnd",
                                    "value": "",
                                    "maxlength": 50,
                                    "readonly": isActive
                                }
                            }]
                        ) }}
                    </div>
                </div>
                {{ formgroup(
                    {
                        "errors": exception.data.duration.messages
                    },
                    [{
                        "type":"input",
                        "parameter": {
                            "name": "duration",
                            "value": schedule.duration,
                            "type": "hidden",
                            "id": "calculatedDuration"
                        }
                    }]
                ) }}

            </div>

            {% set values = [20, 30, 45, 60, 90, 120] %}
            {% set options = [] %}
            {% for value in values %}
                {% set selected = '' %}
                {% if schedule.leadTime == value %}
                    {% set selected = 'selected' %}
                {% endif %}
                {% set options = options|merge([{"value": value, "name": value, "selected": selected}]) %}
            {% endfor %}
            {{ formgroup(
                {
                    "label": "Ankündigungszeit in Minuten:",
                    "description": metadata.leadTime.description,
                },
                [{
                    "type":"select",
                    "parameter": {
                        "name": "leadTime",
                        "maxlength": 40,
                        "multiple": false,
                        "options": options,
                        "disabled": isActive
                    }
                }]
            ) }}

            {{ inputfield({
                "type":"hidden",
                "name":"area",
                "value":"zms*",
            }) }}

            <div id="announcement_preview">
                <h2>Ankündigung</h2>
                <p class="formgroup__help">Die hier genannte Zeit ist nur ein Beispiel.</p>
                <div class="form-control">
                    {{ include(template_from_string(schedule.announcement)) }}
                </div>
                <div class="form-actions right" style="margin-top:5px;">
                    <button class="btn button" id="btn_announcement_edit">Bearbeiten</button>
                </div>
            </div>
            <div id="announcement_edit" hidden="hidden">
                <h2>Ankündigung</h2>
                <textarea name="announcement" class="form-control">{{ schedule.announcement|raw }}</textarea>
                <div class="form-actions right" style="margin-top:5px;">
                    {{ formbutton({ "type":"save", "class": "button button--positive", "name": "preview", "label":"Vorschau", "value": "preview", "id": "submitButton" }) }}
                </div>
            </div>

            <div id="documentBody_preview">
                <h2>Wartungshinweis</h2>
                <div class="form-control">
                    {{ include(template_from_string(schedule.documentBody)) }}
                </div>
                <div class="form-actions right" style="margin-top:5px;">
                    <button class="btn button" id="btn_documentBody_edit">Bearbeiten</button>
                </div>
            </div>
            <div id="documentBody_edit" hidden="hidden">
                <h2>Wartungshinweis</h2>
                <textarea name="documentBody" class="form-control">{{ schedule.documentBody|raw }}</textarea>
                <div class="form-actions right" style="margin-top:5px;">
                    {{ formbutton({ "type":"save", "class": "button button--positive", "name": "preview", "label":"Vorschau", "value": "preview", "id": "submitButton" }) }}
                </div>
            </div>
            <br />
            <div class="form-actions">
                <div class="controls">
                    {{ custombutton({ "type":"abort","class": "button button--navigational" ,"target": urlGet("maintenance", {}, {}), "label":"Abbrechen" }) }}
                    {% if schedule.id %}
                        {{ custombutton({ "type":"delete","class": "button button--destructive" ,"target": urlGet("maintenanceScheduleDelete", {"id": schedule.id}, {}), "label":"Löschen" }) }}
                    {% endif %}
                    {% if not isActive %}
                        {{ formbutton({ "type":"save", "class": "button button--positive", "name": "save", "label":"Speichern", "value": "save", "id": "submitButton" }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
