{% from 'element/helper/form.twig' import formgroup, formbutton, custombutton, inputfield %}

<div class="table-responsive-wrapper">
    <fieldset>
        <div class="table-action-link">
            {{ custombutton({ "type":"new","target": urlGet("maintenanceScheduleAdd", {}, {}), "label":'<i class="fa fa-calendar-plus color-positive" aria-hidden="true"></i> ' ~ 'neuer Wartungstermin'|trans}) }}
        </div>
        <table class="table--base">
            <thead>
            <tr>
                <th>{{ 'geplante Ausführung' }}</th>
                <th>{{ 'Startzeit'|trans }}</th>
                <th>{{ 'Endzeit'|trans }}</th>
                <th>{{ 'Ankündigungsdauer'|trans }}</th>
                <th>{{ 'erstellt/geändert am'|trans }}</th>
                <th>{{ 'Aktion'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for schedule in scheduledMaintenance %}
                    {% set highlightClass = '' %}
                    {% if schedule.isActive %}
                        {% set highlightClass = 'ins'%}
                    {% endif %}
                    {% if schedule.nextRun == 'never' %}
                        {% set highlightClass = 'del'%}
                    {% endif %}
                    <tr class="{{ highlightClass }}">
                        <td>{{ schedule.timeString }}</td>
                        <td>{% if schedule.nextRun == 'never' %}--{% else %}{{ schedule.nextRun }}{% endif %}</td>
                        <td>{% if schedule.nextRun %}
                                {% if schedule.nextRun == 'never' %}--
                                {% else %}
                                    {{ schedule.nextRun|date_modify('+ ' ~ schedule.duration ~ 'minutes')|date("Y-m-d, H:i") }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ schedule.leadTime }}</td>
                        <td>{{ schedule.creationDateTime|date("Y-m-d, H:i") }}</td>
                        <td>
                            {{ custombutton({ "type":"edit", "class":"link" ,"target": urlGet('maintenanceScheduleEdit', {'id':schedule.id}, {}), "label":'<i class="fa fa-calendar-alt" aria-hidden="true"></i> ' ~ 'bearbeiten'|trans }) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="table-action-link">
            {{ custombutton({ "type":"new","target": urlGet("maintenanceScheduleAdd", {}, {}), "label":'<i class="fa fa-calendar-plus color-positive" aria-hidden="true"></i> ' ~ 'neuer Wartungstermin'|trans}) }}
        </div>
    </fieldset>
</div>