{% use "block/header/pageheader.twig" %}
{% use "block/breadcrumb/breadcrumb.twig" %}
{% use "block/navigation/navigation.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% import "element/helper/snippets.twig" as snippets %}
<!doctype html>
<html lang="de">
<head>
    {% block htmlHead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>{{ title }} - Zeitmanagementsystem</title>
    <link rel="stylesheet" media="all" type="text/css" href="{{ includeUrl() }}/_css/admin.css?version={{ currentVersion() }}">
    {#<link rel="stylesheet" media="print" type="text/css" href="{{ includeUrl() }}/_css/print.css">#}
    {% endblock %}
</head>
<body>
    <span id="js-is_palm"></span>
    <div id="page-wrapper">
        <header id="page-header">
            {% block pageheader %}
                {{ parent() }}
            {%- endblock %}
        </header>

        <div id="content-wrapper">
            {% block breadcrumb %}
                {{ parent() }}
            {%- endblock %}
            <div class="grid">
                <div class="grid__item one-sixth">
                    {% include "block/emergency/emergency.twig" %}
                    <nav class="navigation-primary" aria-labelledby="navigation-primary-title">
                        <h2 class="aural" id="navigation-primary-title">Hauptnavigation</h2>
                        <div class="nav__wrapper">
                            <div class="nav__header-mobile">
                                <button title="Hauptnavigation schließen" class="nav__close js-close">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <span class="aural">Hauptnavigation schließen</span>
                                </button>
                            </div>
                            {% block navigation %}
                                {{ parent() }}
                            {%- endblock %}
                            {% include "block/search/mask.twig" %}
                        </div>
                    </nav>
                </div>
                <div class="grid__item five-sixths">
                    <section role="main" id="main-content">
                        {% block advice %}
                            {% include "block/main/advice.twig" %}
                        {% endblock %}
                        {% block headline %}
                            {{ headline1("untitled") }}
                        {% endblock %}
                        {% block content %}
                            {% set timeString = "am " ~ getNow()|date('d.m.Y') ~ " um " ~ getNow()|date('H:i') ~ " Uhr" %}
                            {% include "element/helper/exceptionHandler.twig" %}
                            {% include "element/helper/messageHandler.twig" %}
                        {% endblock %}
                    </section>
                </div>
            </div>
        </div>

        <footer id="page-footer">
            <div class="page-footer__left">
            </div>
            <div class="page-footer__middle">
                {% include "block/metalinks/metalinks.twig" %}
            </div>
            <div class="page-footer__right">
            <div class="page-version">
                <a href="{{ urlGet('changelog', {}, {}) }}" class="version" title="Änderungshistorie anzeigen">Version {{ currentVersion() }}</a> | <a href="{{ urlGet('status', {}, {}) }}" class="version" title="Betriebsstatus des Systems">Status</a>
            </div>
            </div>
        </footer>



    </div>
    {#<script src="{{ includeUrl() }}/_js/vendor.js?version={{ currentVersion() }}"></script>#}
    <script src="{{ includeUrl() }}/_js/index.js?version={{ currentVersion() }}"></script>
    {#<script src="{{ includeUrl() }}/_js/index.js?2"></script>#}
    {% block javascript %}
    {%- endblock %}
    {% if getSystemStatus('ZMS_DEBUG') %}
    <div id="httplog">
    <!-- httplog --> {{ dumpHttpLog() }}
    </div>
    {% endif %}
</body>
</html>
