{% extends exception.include ? "exception/bo/include.twig" : exceptionLayout|default("layout/main.twig") %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block pageheader %}
    {{ parent() }}
{% endblock %}

{% block pageheader_middle %}
    {% if workstation and workstation.scope %}
        {% set avoidWorkstationChange = true %}
        {{ parent() }}
    {% else %}
        <span class="sitename">Zeitmanagementsystem - Auswahl Standort</span>
    {% endif %}
{% endblock %}

{% block pageheader_right %}
    {{ parent() }}
{% endblock %}

{% block headline %}
    {{ headline1('Es ist ein Fehler aufgetreten') }}
{% endblock %}
{% block content %}
    {% if pointer %}
        {% set errorlist = {(pointer): {'messages': [message], 'failed': 1}} %}
    {% endif %}

    {% embed "block/scaffholding/board.twig" with {
        'class': 'exception',
        'data': errorlist,
        'reload': reload
    } %}
        {% block board_title %}<i aria-hidden="true" title="{{ title|trans }}" class="fas fa-info-circle"></i> {{ title|trans }}{% endblock %}
        {% block board_body %}
            <p>
                <i aria-hidden="true" title="{% trans %}Fehler{% endtrans %}: {{ message|trans }}" class="fas fa-exclamation-circle"></i> {% trans %}Fehler{% endtrans %}: {{ message|trans|nl2br }}
            </p>
            {% if showlinks or abort %}
            <div class="form-actions" style="margin-top:0;">
                {% if abort %}
                    <a class="btn button-abort" href="#">{% if abort|length > 1 %}{{ abort }}{% else %}Ok{% endif %}</a>
                {% elseif showlinks %}
                    {% for link, name in showlinks %}
                    	<a class="btn" href="{{ urlGet(link) }}">{{ name|trans }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
