{% if error %}
    <div class="dialog message message--error">
        <div class="header">
            <h2 class="message__heading title"
            ><i title="{{ errorTitle|default("Fehlerhafte Anfrage")|trans }}" aria-hidden="true" class="fas fa-exclamation-circle"></i
                ><span class="sr-only">{{ errorTitle|default("Fehlerhafte Anfrage")|trans }}</span> {{ errorTitle|default("E-Mail nicht versendet")|trans }}
            </h2>
        </div>
        <div class="message__body body">
            <p>
                Der Termin mit der Nummer {{ process.id }} wurde nicht per E-Mail informiert. Möglicherweise ist die Email Adresse nicht korrekt oder befindet sich auf der BlackList.
                Bitte denken Sie daran, den Kunden aus der Liste zu löschen! Sie können das entweder jetzt sofort oder nach Abholung des Dokuments durch den Kunden tun.
            </p>
            <div class="form-actions">
                <a data-action-abort class="button-ok btn right" href="#">OK</a>
            </div>
        </div>
    </div>

{% else %}
<div class="dialog message message--success">
    <div class="header">
        <h2 class="message__heading title"
            ><i title="{{ successTitle|default("Erfolgreiche Anfrage")|trans }}" aria-hidden="true" class="fas fa-check-circle"></i
            ><span class="sr-only">{{ successTitle|default("Erfolgreiche Anfrage")|trans }}</span> {{ successTitle|default("E-Mail versendet")|trans }}
        </h2>
    </div>
    <div class="message__body body">
        <p>
            Der Termin mit der Nummer {{ process.id }} wurde zur Abholung per E-Mail informiert.
            Bitte denken Sie daran, den Kunden aus der Liste zu löschen! Sie können das entweder jetzt sofort nach
            Absendung der Benachrichtigung oder nach Abholung des Dokuments durch den Kunden tun.
        </p>
        <div class="form-actions">
            <a data-action-abort class="button-ok btn right" href="#">OK</a>
        </div>
    </div>
</div>
{% endif %}