<div class="panel--heavy">
    <h2>{% trans %}Systemzugriffe{% endtrans %}</h2>
    <div class="grid">
        <span class="grid__item">
            <span class="label">{% trans %}aktive Bürger:{% endtrans %}</span>
            <span id="activeCitizen">?</span>
        </span>
        <span class="grid__item">
            <span class="label">{% trans %}aktive Nutzer:{% endtrans %}</span>
            <span id="activeUsers">?</span>
        </span>
    </div>
</div>